[submodule "third_party/ordered-map"]
	path = third_party/ordered-map
	url = https://github.com/Tessil/ordered-map.git
[submodule "documentation/doxygen-awesome-css"]
	path = documentation/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
